html {
    font-family: 'Rubik', sans-serif;
}

:root {
    --white: #FFFFFF;
    --white-gray: #F4F5F9;
    --blue-dark: #2D3B87;
    --blue-light: #616CA5;
    --green: #69C57F;
    --manatee: #969DC3;
    --platinum: #E0E3EE;
}

.container {
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}
