.title-s {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
}

.title-m {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
}

.title-m-v2 {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
}

.title-l {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
}

.text-l {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}