.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.text-accent-1 {
    color: var(--blue-dark);
}

.text-accent-2 {
    color: var(--manatee);
}

.text-accent-3 {
    color: var(--blue-light);
}

.fill-accent-1 {
    fill: var(--blue-dark);
}

.fill-accent-2 {
    fill: var(--manatee);
}

.fill-accent-3 {
    fill: var(--blue-light);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
